@charset "UTF+8";

body{
    background-color: rgba(3, 3, 3, 0.815);
}
h2{
    background-color:rgba(0, 255, 255, 0.500);
    color: azure;
    margin: inherit;
    text-align: center;
}

h3{
    color: azure;
    text-align: center;
}


